.accordions{
  width:80%;
  margin: 100px auto;
  .accordion{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
  &-title{
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      &::after{
        content: "+";
      }
  }
  &-desc{
    padding-right: 80px;
  }
}
}